:root {
    --unpressed-digit: hsl(0, 0%, 95%);
    --pressed-digit: hsl(0, 0%, 80%);
    --empty-cell: white;
    --tip-cell: hsl(0, 0%, 95%);
    --tip-cell-value: hsl(0, 0%, 35%);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 310px;
}

h1 {
    text-align: center;
}

hr {
    width: 100%;
}

h2 {
    color: coral;
    text-align: center;
}

#sudoku {
    display: grid;
    grid-template-columns: repeat(9, 34px);
    grid-template-rows: repeat(9, 34px);
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 310px;
}

#digits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    width: 150px;
    height: 150px;
    margin-top: 40px;
}

.digit {
    text-align: center;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: var(--unpressed-digit);
    font-size: 1.25em;
}

.pressed-digit {
    background-color: var(--pressed-digit);
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    width: 34px;
    height: 34px;
    border: 1px solid gray;
    background-color: var(--empty-cell);
}

.tip-cell {
    color: var(--tip-cell-value);
    background-color: var(--tip-cell);
}