@media (min-width: 768px) {

    h1 {
        margin-top: 0;
        font-size: 3em;
    }

    hr {
        margin-top: 0;
        margin-bottom: 0;
    }

    h2 {
        font-size: 2.5em;
    }

    #game {
        width: 500px;
    }

    #sudoku {
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(9, 1fr);
        width: 500px;
        height: 500px;
    }

    #digits {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: 500px;
        height: 50px;
        margin-top: 40px;
    }

    .digit {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        padding: 0;
    }

    .cell {
        font-size: 2em;
        height: 55px;
    }

    .horizontal-line {
        border-bottom: 6px solid black;
    }

    .vertical-line {
        border-right: 6px solid black;
    }

}